@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}
 
p{
    font-size: 9.5px;
    line-height: 9.5px;
    background: url(raychi.jpeg);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.07);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    letter-spacing: 0.1px;
}
