body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; /* Prevents scrolling if content exceeds viewport */
}

p {
    font-size: 9px;
    line-height: 9px;
    text-align: justify;
    background: url(raychi.jpg) no-repeat center center; /* Ensure image is centered */
    background-size: cover; /* Adjust image to cover the text container */
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(300, 300, 255, 0.1); /* Use transparent to ensure text color is affected */
    max-width: 90vw; /* Limit width to viewport */
    margin: 0 10px; /* Padding around text */
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 6px;
        line-height: 6px;
        background-size: cover; /* Maintain cover size for smaller screens */
    }
}
